* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Montserrat', sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: 'Inter', sans-serif;
background-image:url(./imgs/bg-mobile-dark.jpg);
}

.container {
    width: 360px;
    height: 712px;
}

.listbtn{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

